head {
  padding-top: 56px;
}

nav {
  display: block;
}

html {
  margin: 40px auto;
  text-align: center;
  }

  .fa-github {
    padding-left: 8px;
    padding-right: 8px;
  }

  .btn-linkedin {
    background: #0E76A8;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #084461;
  }
  .btn-linkedin:link, .btn-linkedin:visited {
    color: #fff;
  }
  .btn-linkedin:active, .btn-linkedin:hover {
    background: #084461;
    color: #fff;
  }

body, html {
  height: 100%;
}

body {
  /* Typography */
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 27px;
  
    /* Visual */
    background-image: url(Trail2.jpg);
    background-size: cover;
    padding-top: 56px;
    overflow: hidden;
}

  .container-fluid {
    
    /* Box-model */
    width: 100%;
    /* height: 500px; */
  }
  
  #Carousel,
  #About_Me {
    /* Box-model */
    width: 100%;
  }

  div.img {
    border: 3px solid #555;
    height: 100%;
  }
  
  #About_Me {
    background: white;
    color: rgb(65, 64, 75);
    opacity: 0.8;
    height: 800px;
    overflow: scroll;
  }

 
/*
  These rules take effect when the browser's width
  is either 768px or less.
*/
@media screen and (max-width: 768px) {
  /* The body's bg color will be #333 */
  body {
    background-color: #333;
  }
  
    /* The wrapper's width will be 600px */
    .wrapper {
      width: 100%;
    }
  }