head {
    padding-top: 56px;
  }

nav {
    display: block;
  }

html {
  margin: 40px auto;
  text-align: center;
}
  .btn-linkedin {
    background: #0E76A8;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #084461;
  }
  .btn-linkedin:link, .btn-linkedin:visited {
    color: #fff;
  }
  .btn-linkedin:active, .btn-linkedin:hover {
    background: #084461;
    color: #fff;
  }
    
body {
    /* Typography */
      margin-top: 56px;
      border-top-width: 400px;
      border-left-width: 400px;
      border-bottom-width: 400px;
      border-right-width: 400px;
      border: 3px solid black;
      padding-top: 20px;
      font-size: 18px;
      line-height: 27px;
    
      /* Visual */
      background-color: #cc5500;
  }

  .masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.bg-primary {
    background-color: #cc5500 !important;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

*, *::before, *::after {
    box-sizing: border-box;
}

header {
    display: block;
}

body {
    margin: 0;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #cc5500;
}

#contact {
  color: #cc5500;
  background: rgb(65, 64, 75);
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #1abc9c;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #1abc9c;
    --secondary: #2c3e50;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

  /*
    These rules take effect when the browser's width
    is either 768px or less.
  */
  @media screen and (max-width: 768px) {
    /* The body's bg color will be #333 */
    body {
      background-color: rgb(65,64,75 );
    }
    
      /* The wrapper's width will be 600px */
      .wrapper {
        width: 100%;
      }
    }